body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  max-width: 700px;
}

footer {
  text-align: right;
  color: midnightblue;
}

span{
  color: #191970;
}

.left{
  display: inline-block;
  float: left;
  width: 40%;
}

.right{
  display: inline-block;
  float: right;
  width: 40%;
}


.left img{
  float: left;
}

.right img{
  float: left;
}

.left p{
  position: relative;
  left:30px;
}

.left h2 {
  position: relative;
  left: 30px;
}
.right p{
  position: relative;
  left:30px;
}

.right h2 {
  position: relative;
  left: 30px;
}



  

 img{
  width: 300px;
}


@media (max-width: 400px){
  .left {
    display: block;
  }
  .right {
    display: block;
  }
  h1{
    display: block;
    font-size: 3.5rem;
    text-align: center;

  }
  .card{
    width: 100%;
    
  }
  
  .left p{
    position: relative;
    left:0px;
  }
  
  .left h2 {
    position: relative;
    left: 0px;
  }
  .right p{
    position: relative;
    left:0px;
  }
  
  .right h2 {
    position: relative;
    left: 0px;
  }
  p{
    margin: 16px 0px;
  }
  

}

